@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 1440px;
    height:800px;
    margin: 0px auto;
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 1385px;
    height: 96px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav{
    
    
}

a{
    text-decoration: none;
    color: white;
    float: right;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
a:hover{
    color: hotpink;
    
}
.hero {
    display: flex;
    align-items: center; 
    margin-top: 100px;
    padding-left: 100px;
}

.hero-content{
    width: 735px;
    margin-top: 50px;
    padding: 100PX;
    color: white;
    margin-left: -280px;   
}
h3{
  font-weight: lighter;
  font-size: 32PX;
}
h1{
    font-size: 56px;
    font-weight: lighter;
    color: white;
    width: 1000px;
}
.hero-circle{
    width: 300px;
    height: auto;
    margin-left: 700px;
    margin-top: -580px;

}
h2{
    text-align: center;
    margin-top: 110PX;
    font-size: 50PX;
    font-weight: lighter;
    
}
h4{
    color: white;
    font-size: 28px;
    margin-left: 100px;
    margin-top: -400px;
}
